CLIENT_ID=TpbtwuQ25zMjPXFYW4dznw==
CLIENT_SECRET=I47JjtUvy92Ps4C5s8p50+rWYVlpYq19dgHjZcdwbJccMKJLgFggrNBtutK8hDr/f/fpDr1R/MtF9iks3znbIw==
BASE_URL=https://toolcustomerio.netlify.app/
NEXT_PUBLIC_TOOL_ID=toolcustomerio
NEXT_PUBLIC_CUSTOMERIO_LOGO_URL=https://customer.io/favicon.ico
NEXT_PUBLIC_CUSTOMERIO_WORDMARK_URL=https://cdn.sanity.io/images/onirtmj2/production/16019fbc08ecc85c8c1fc66d66eeb1a16f3cd3ca-300x72.svg